/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Overwrite SwiperJS styles */
:root {
	--swiper-theme-color: #ef6d9f !important;
}

/* Typography styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Varela Round", sans-serif;
}
h4 {
	font-size: 44px;
}
p {
	font-size: 20px;
}

p,
span,
label,
small,
a {
	font-family: "Lato", sans-serif;
}
a {
	text-decoration: none;
}
/* Button styling */
.btn {
	text-decoration: none;
	font-size: 1.1rem;
	margin: 45px 0px 0px;
	padding: 15px 30px;
	display: inline-block;
}
.hero-btn {
	color: white;
	background-color: #ef6d9f;
}
.submit-btn {
}

.corner-btn {
	background: none;
	border: 3px solid #ef6d9f;
	padding: 15px 40px;
	letter-spacing: 3px;
	color: black;
	position: relative;
	overflow: visible;
	margin-top: 40px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.corner-btn:after,
.corner-btn:before {
	content: "";
	background: white;
	position: absolute;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.corner-btn:before {
	width: calc(100% - 1.2rem);
	height: calc(94% + 0.7rem);
	top: -3px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.corner-btn:after {
	height: calc(100% - 1.2rem);
	width: calc(98% + 0.7rem);
	left: -3px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.corner-btn span {
	position: relative;
	z-index: 2;
	font-weight: 600;
}
.corner-btn:hover {
	background: none;
}
.corner-btn:hover:before {
	width: 0;
}
.corner-btn:hover:after {
	height: 0;
}

.corner-btn:hover {
	border-color: #ef6d9f;
	color: #ef6d9f;
}

/* Flex */
.display-flex {
	display: flex;
}
.direction-column {
	flex-direction: column;
}
.direction-row {
	flex-direction: row;
}
.align-items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: flex-end;
}
.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	/* min-height: 100%; */
	flex-direction: row;
}

/* Reusable classes */
.show-tablet {
	display: none;
}
.text-uppercase {
	text-transform: uppercase;
}
.m-standard {
	margin: 80px 0;
}
.p-standard {
	padding: 80px 0;
}

.reset-btn-styling {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Columns */
.col-1 {
	width: calc((100% / 24) * 1);
}

.col-2 {
	width: calc((100% / 24) * 2);
}

.col-3 {
	width: calc((100% / 24) * 3);
}

.col-4 {
	width: calc((100% / 24) * 4);
}

.col-5 {
	width: calc((100% / 24) * 5);
}

.col-6 {
	width: calc((100% / 24) * 6);
}

.col-7 {
	width: calc((100% / 24) * 7);
}

.col-8 {
	width: calc((100% / 24) * 8);
}

.col-9 {
	width: calc((100% / 24) * 9);
}

.col-10 {
	width: calc((100% / 24) * 10);
}

.col-11 {
	width: calc((100% / 24) * 11);
}

.col-12 {
	width: calc((100% / 24) * 12);
}

.col-13 {
	width: calc((100% / 24) * 13);
}

.col-14 {
	width: calc((100% / 24) * 14);
}

.col-15 {
	width: calc((100% / 24) * 15);
}

.col-16 {
	width: calc((100% / 24) * 16);
}

.col-17 {
	width: calc((100% / 24) * 17);
}

.col-18 {
	width: calc((100% / 24) * 18);
}

.col-19 {
	width: calc((100% / 24) * 19);
}

.col-20 {
	width: calc((100% / 24) * 20);
}

.col-21 {
	width: calc((100% / 24) * 21);
}

.col-22 {
	width: calc((100% / 24) * 22);
}

.col-23 {
	width: calc((100% / 24) * 23);
}

.col-24 {
	width: 100%;
}

/* Margin and padding  */
/*
z = 0
1 = 10
2 = 15
3 = 20
4 = 25
5 = 35
*/
/*removes all margins*/
.m-z {
	margin: 0 !important;
}
.m-b-2 {
	margin-bottom: 15px;
}
.m-b-4 {
	margin-bottom: 25px;
}
/*removes all paddings*/
.p-z {
	padding: 0 !important;
}
/*padding vertical*/
.p-v-1 {
	padding: 10px 0;
}
.p-v-2 {
	padding: 15px 0;
}
.p-v-3 {
	padding: 20px 0;
}
.p-v-4 {
	padding: 25px 0;
}
.p-v-5 {
	padding: 35px 0;
}
/*padding horizontal*/
.p-h-1 {
	padding: 0 10px;
}
.p-h-2 {
	padding: 0 15px;
}
.p-h-3 {
	padding: 0 20px;
}
.p-h-4 {
	padding: 0 25px;
}
.p-h-5 {
	padding: 0 35px;
}
.p-t-5 {
	padding-top: 35px;
}
/* Colors */
.color-pink {
	color: #ef6d9f;
}
.color-light-pink {
	color: #ff9cb2;
}
.color-white {
	color: #fff;
}
.color-black {
	color: #1a1a1a;
}
.color-grey {
	color: #9e9999;
}

body {
	position: relative;
	background-color: pink;
	min-height: 100vh;
	overflow-x: hidden !important;
}

/*** Navigation ***/
.navigation {
	position: absolute;
	top: 0;
	min-height: 70px;
	z-index: 11;
	transform: translateY(0);
	transition: all 0.6s ease-in-out;
}
nav p {
	font-size: 1rem;
}
.show {
	position: fixed;
	background-color: rgba(26, 26, 26, 0.9);
}
.logo {
	padding-left: 100px;
	padding-bottom: 15px;
}

.icons {
	padding-right: 100px;
}

.icon {
	padding: 15px;
	font-size: 1.3em;
}
.cart {
	position: relative;
}
.cart a {
	text-decoration: none;
}

.basket-circle {
	position: absolute;
	top: 0;
	border: 2px solid white;
	font-size: 0.9em;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-block;
	line-height: 22px;
	width: 25px;
	text-align: center;
}

/* Hero slider style  */
.hero {
	position: relative;
	min-height: 100vh;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	overflow: hidden;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-next {
	background-color: #ef6d9f;
	padding: 20px;
	color: white !important;
}
.swiper-button-prev {
	background-color: #ef6d9f;
	padding: 20px;
	color: white !important;
}
.swiper-button-prev:after {
	font-size: 1em !important;
}
.swiper-button-next:after {
	font-size: 1em !important;
}

.hero-container {
	position: absolute;
	min-width: 650px;
	height: 100%;
	padding: 20px;
	top: 0;
	left: 0;
}

.hero-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-25%, -50%);
}
.headings {
	min-width: 700px;
}

/* Find Best */
.headings h3 {
	font-size: 4.427vw;
	white-space: nowrap;
}
/* Matley */
.headings h1 {
	font-size: 6.042vw;
	display: inline;
}
/* Sound */
.headings h2 {
	font-size: 5.729vw;
	line-height: 1.6;
	display: inline;
}

.hero-text p {
	width: 50vw;
	line-height: 1.6;
	font-size: 1em;
}

/*** USP section ***/
.USP {
	height: 100%;
	background: white;
}
.USP > .container {
	width: 100%;
	border: 2px solid red;
	overflow-x: hidden;
}
.container > .intro-section {
	border: 2px solid blue;
	width: 70%;
	height: 100%;
}
.intro-section > .text {
	position: relative;
	line-height: 1.8;
	padding-right: 50px;
}

.USP > div > div > div.text.col-12 > h4:before {
	content: "";
	background: #ef6d9f;
	border-radius: 5px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 5px;
}
.intro-section > .intro-slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 50px;
}

.intro-slider.col-12 > div > div {
	height: 600px;
}
.intro-slider > .slider .swiper-slide > img {
	border-bottom-left-radius: 80px;
}

/*** Media queries ***/

/* Laptop M */
@media only screen and (max-width: 1220px) {
	.hero-text {
		transform: translate(-30%, -40%);
	}
}
/* Laptop */
@media only screen and (max-width: 1024px) {
	.hero-text {
		transform: translate(-30%, -40%);
	}
	.btn {
		margin: 40px 0px 0px;
		padding: 10px 25px;
		font-size: 1rem;
	}
}
/* Laptop S*/
@media only screen and (max-width: 810px) {
	.logo {
		padding-left: 40px;
	}
	.icons {
		padding-right: 40px;
	}
}
/* Tablet */
@media only screen and (max-width: 768px) {
	.hide-tablet {
		display: none;
	}
	.show-tablet {
		display: flex;
	}
	.col-12-tablet {
		width: calc((100% / 24) * 12);
	}
	.col-24-tablet {
		width: 100%;
	}
	.logo {
		padding-left: 20px;
	}
	.icons {
		padding-right: 50px;
	}
	.hero-container {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		align-items: center;

		transform: translate(-50%, -50%);
		background-color: #1a1a1a81;
		width: 70vw;
		padding: 40px 50px 50px 50px;
	}
	.hero-text p,
	.headings {
		text-align: center;
	}
	.logo img {
		width: 90%;
	}

	.container > .intro-section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.intro-section > .text {
		text-align: center;
		padding: 0;
	}
	.USP > div > div > div.text.col-12 > h4:before {
		content: "";
		background: #ef6d9f;
		border-radius: 5px;
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -15px;
		width: 30px;
		height: 5px;
	}
	.intro-section > .intro-slider {
		padding-left: 0;
	}

	/* Small tablet */
	@media only screen and (max-width: 555px) {
		.hero-container {
			transform: translate(-50%, -45%);
			margin-top: 10px;
		}
		.hero-text {
			padding: 30px;
		}
	}

	/* Large phone */
	@media only screen and (max-width: 425px) {
		.hide-lg-phone {
			display: none;
		}
		.show-lg-phone {
			display: flex;
		}
		.col-24-lg-phone {
			width: 100%;
			padding: 0;
			justify-content: center;
		}
		.logo img {
			width: 80%;
		}
		.hero-container {
			transform: translate(-50%, -50%);
			margin-top: 0px;
		}
	}
}
