/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: " Lato", sans-serif;
}

:root {
	--swiper-theme-color: #ef6d9f !important; /* Overwrite SwiperJS style */
}

/* Typography styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Varela Round", sans-serif;
	cursor: default;
}
h4 {
	position: relative;
	padding-top: 35px;
	margin-bottom: 25px;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 1px;
}

h4:before {
	content: "";
	background: #ef6d9f;
	border-radius: 5px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 5px;
}
h5 {
	font-size: 24px;
	font-weight: 500;
}
h6 {
	font-size: 20px;
}
p {
	font-size: 20px;
	cursor: default;
	line-height: 1.8;
}

p,
span,
label,
small,
a,
button,
li,
table {
	font-family: "Lato", sans-serif;
}
a {
	text-decoration: none;
}

/* All buttons styling */
.btn {
	text-decoration: none;
	font-size: 1.1rem;
	margin: 45px 0px 0px;
	padding: 15px 30px;
	display: inline-block;
	transition: all 0.3s linear;
	border-radius: 10px;
}
.full-btn {
	color: white;
	background-color: #ef6d9f;
	transition: 0.5s;
	border: none;
	box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
}
.full-btn:hover {
	background-color: #ff9875;
	-webkit-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px);
}
.regi-btn {
	border-radius: 10px;
	width: 180px;
	background-color: #fff;
	color: #ef6d9f;
}
.regi-btn:hover {
	color: #fff;
}
.google-btn img {
	transition: all 0.3s linear;
}
.google-btn img:hover {
	-webkit-transform: translateY(2px);
	-ms-transform: translateY(2px);
	transform: translateY(2px);
}

.corner-btn {
	background: none;
	border: 3px solid #ef6d9f;
	padding: 15px 40px;
	letter-spacing: 3px;
	color: black;
	position: relative;
	overflow: visible;
	margin-top: 40px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.corner-btn:after,
.corner-btn:before {
	content: "";
	background: white;
	position: absolute;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.corner-btn:before {
	width: calc(100% - 1.2rem);
	height: calc(94% + 0.7rem);
	top: -3px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.corner-btn:after {
	height: calc(100% - 1.2rem);
	width: calc(98% + 0.7rem);
	left: -3px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.corner-btn span {
	position: relative;
	z-index: 2;
	font-weight: 600;
}
.corner-btn:hover {
	background: none;
}
.corner-btn:hover:before {
	width: 0;
}
.corner-btn:hover:after {
	height: 0;
}

.corner-btn:hover {
	border-color: #ef6d9f;
	color: #ef6d9f;
}

/* Flex */
.display-flex {
	display: flex;
}
.direction-column {
	flex-direction: column;
}
.direction-row {
	flex-direction: row;
}
.align-items-center {
	align-items: center;
}
.align-items-start {
	align-items: flex-start;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: flex-end;
}
.justify-evenly {
	justify-content: space-evenly;
}
.justify-between {
	justify-content: space-between;
}

.row {
	display: flex;
	/* flex-wrap: wrap; */
	width: 100%;
	min-height: 100%;
	flex-direction: row;
}

/* Reusable classes */
.reset-btn-styling {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.image {
	transition: all 0.3s linear;
}

.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}

.show-tablet {
	display: none;
}
.text-underline {
	text-decoration: underline;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.text-center {
	text-align: center;
}
.m-standard {
	margin: 80px 0;
}
.p-standard {
	padding: 80px 0;
}

/* Columns */
.col-1 {
	width: calc((100% / 24) * 1);
}

.col-2 {
	width: calc((100% / 24) * 2);
}

.col-3 {
	width: calc((100% / 24) * 3);
}

.col-4 {
	width: calc((100% / 24) * 4);
}

.col-5 {
	width: calc((100% / 24) * 5);
}

.col-6 {
	width: calc((100% / 24) * 6);
}

.col-7 {
	width: calc((100% / 24) * 7);
}

.col-8 {
	width: calc((100% / 24) * 8);
}

.col-9 {
	width: calc((100% / 24) * 9);
}

.col-10 {
	width: calc((100% / 24) * 10);
}

.col-11 {
	width: calc((100% / 24) * 11);
}

.col-12 {
	width: calc((100% / 24) * 12);
}

.col-13 {
	width: calc((100% / 24) * 13);
}

.col-14 {
	width: calc((100% / 24) * 14);
}

.col-15 {
	width: calc((100% / 24) * 15);
}

.col-16 {
	width: calc((100% / 24) * 16);
}

.col-17 {
	width: calc((100% / 24) * 17);
}

.col-18 {
	width: calc((100% / 24) * 18);
}

.col-19 {
	width: calc((100% / 24) * 19);
}

.col-20 {
	width: calc((100% / 24) * 20);
}

.col-21 {
	width: calc((100% / 24) * 21);
}

.col-22 {
	width: calc((100% / 24) * 22);
}

.col-23 {
	width: calc((100% / 24) * 23);
}

.col-24 {
	width: 100%;
}

/* Margin and padding  */
/*
z = 0
1 = 10
2 = 15
3 = 20
4 = 25
5 = 35
6 = 40
*/
/*removes all margins*/
.m-z {
	margin: 0 !important;
}
/*removes all paddings*/
.p-z {
	padding: 0 !important;
}

/*padding vertical*/
.p-v-1 {
	padding: 10px 0;
}
.p-v-2 {
	padding: 15px 0;
}
.p-v-3 {
	padding: 20px 0;
}
.p-v-4 {
	padding: 25px 0;
}
.p-v-5 {
	padding: 35px 0;
}
/*margin horizontal*/
.m-h-1 {
	margin: 0 10px;
}
/*margin vertical*/
.m-v-4 {
	margin: 25px 0;
}
/*padding horizontal*/
.p-h-1 {
	padding: 0 10px;
}
.p-h-2 {
	padding: 0 15px;
}
.p-h-3 {
	padding: 0 20px;
}
.p-h-4 {
	padding: 0 25px;
}
.p-h-5 {
	padding: 0 35px;
}

/*Top, left, right, bottom padding classes*/
/* Margin */
.m-l-1 {
	margin-left: 10px;
}
.m-r-1 {
	margin-right: 10px;
}
.m-b-1 {
	margin-bottom: 10px;
}
.m-b-2 {
	margin-bottom: 15px;
}
.m-b-4 {
	margin-bottom: 25px;
}
.m-b-6 {
	margin-bottom: 40px;
}
.m-v-4 {
	margin: 25px 0;
}
.m-t-4 {
	margin-top: 25px;
}

/* Padding */
.p-r-2 {
	padding-right: 15px;
}
.p-l-1 {
	padding-left: 10px;
}
.p-l-4 {
	padding-left: 25px;
}
.p-r-4 {
	padding-right: 25px;
}
.p-t-1 {
	padding-top: 10px;
}
.p-t-2 {
	padding-top: 15px;
}
.p-t-3 {
	padding-top: 20px;
}
.p-t-5 {
	padding-top: 35px;
}
.p-t-6 {
	padding-top: 40px;
}
.p-b-2 {
	padding-bottom: 15px;
}

/* Extra */
.m-t-50 {
	margin-top: 50px;
}
.p-b-80 {
	padding-bottom: 80px;
}
.p-t-120 {
	padding-top: 120px;
}

/* Colors */
.color-pink {
	color: #ef6d9f;
}
.color-light-pink {
	color: #ff9cb2;
}
.color-white {
	color: #fff;
}
.color-black {
	color: #1a1a1a;
}
.color-grey {
	color: #9e9999;
}
.color-red {
	color: #cc2424;
}
.color-green {
	color: #26d87f;
}
.color-blue {
	color: #367ff4;
}

body {
	position: relative;
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden !important;
}
*::-webkit-scrollbar {
	width: 0.6em;
}
*::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
	background: none;
}
*::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, #ff9875, #ef6d9f);
	border-radius: 50px;
}

/*** Navigation ***/
.navigation {
	position: absolute;
	top: 0;
	min-height: 70px;
	z-index: 11;
	transform: translateY(0);
	transition: all 0.6s ease-in-out;
}
nav p {
	font-size: 1rem;
}
.show-nav {
	position: fixed;
	background-color: rgba(26, 26, 26, 0.9);
}
.logo {
	padding-left: 100px;
	padding-bottom: 15px;
}
.logo-small {
	width: 180px;
}
.logo-small img {
	width: 100%;
	object-fit: contain;
}
.icons {
	padding-right: 100px;
}

.icon {
	padding: 15px;
	font-size: 1.3em;
}
.cart {
	position: relative;
}
.cart a {
	text-decoration: none;
}

.basket-circle {
	position: absolute;
	top: 0;
	border: 2px solid white;
	font-size: 0.9em;
	border-radius: 50%;
	display: inline-flex;
	height: 25px;
	width: 25px;
	text-align: center;
	transition: opacity 0.8s ease;
	opacity: 0;
	pointer-events: none;
}
#circle.active {
	opacity: 1;
}

#message {
	position: absolute;
	bottom: -50px;
	padding: 10px;
	border-radius: 10px;
	background: white;
	box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
	transform: translateX(150px);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}

#message.active {
	opacity: 1;
	transform: translateX(0);
}

/* Hero slider style  */
.hero {
	position: relative;
	/* min-height: 100vh; */
}

.swiper {
	width: 100%;
	height: 100%;
	cursor: grab;
}

.swiper-slide {
	overflow: hidden;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.swiper-button-next {
	background-color: #ef6d9f;
	padding: 20px;
	color: white !important;
}
.swiper-button-prev {
	background-color: #ef6d9f;
	padding: 20px;
	color: white !important;
}
.swiper-button-prev:after {
	font-size: 1em !important;
}
.swiper-button-next:after {
	font-size: 1em !important;
}

.hero-container {
	position: absolute;
	max-width: 650px;
	width: 100%;
	height: 100%;
	padding: 20px;
	top: 0;
	left: 0;
}

.hero-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-20%, -50%);
}
.headings {
	min-width: 700px;
}

/* Find Best */
.headings h3 {
	font-size: 4.427vw;
	white-space: nowrap;
}
/* Matley */
.headings h1 {
	font-size: 6.042vw;
	display: inline;
}
/* Sound */
.headings h2 {
	font-size: 5.729vw;
	line-height: 1.6;
	display: inline;
}

.hero-text p {
	width: 50vw;
	font-size: 1em;
}
/*Floating shapes*/
.circle-shape {
	border-radius: 50%;
}
.rectangle-shape {
	border-radius: 3px;
}

.circle-shape,
.rectangle-shape {
	content: "";
	border: 4px solid;
	border-bottom-color: #ef6d9f;
	border-right-color: #ef6d9f;
	border-top-color: #ff9cb2;
	border-left-color: #ff9cb2;
	position: absolute;
	left: 0;
	top: 40%;
	margin: auto;
}
.rectangle-shape.small {
	left: 10%;
	bottom: 50%;
}
.circle-shape.large {
	left: 15%;
	right: 0;
	bottom: 0;
	opacity: 0.5;
}

.circle-shape.large,
.rectangle-shape.small {
	width: 35px;
	height: 35px;
	animation: animationframesthree 35s alternate infinite linear;
}

.rectangle-shape.very-small,
.rectangle-shape.medium,
.rectangle-shape.large {
	display: block;
}
.rectangle-shape.very-small {
	left: 50%;
}
.rectangle-shape.very-small {
	border-width: 3px;
	width: 15px;
	height: 15px;
	animation: animationframestwo 30s alternate infinite linear;
}
.rectangle-shape.medium {
	left: auto;
	right: 10%;
	top: 10%;
	opacity: 0.5;
}
.rectangle-shape.medium {
	width: 30px;
	height: 30px;
	animation: animationframestwo 35s alternate infinite linear;
}

.rectangle-shape.large {
	top: auto;
	left: 35%;
	bottom: 10%;
}
.rectangle-shape.large {
	width: 40px;
	height: 40px;
	animation: animationframesthree 35s alternate infinite linear;
}
/*Floating shapes on register page*/
.lr-small-wrapper .circle-shape,
.lr-small-wrapper .rectangle-shape {
	content: "";
	border: none;
	background-color: #ffffff36;
	position: absolute;
	left: 0;
	top: 10%;
	margin: auto;
}
.lr-small-wrapper .circle-shape.large,
.lr-small-wrapper .rectangle-shape.small {
	width: 105px;
	height: 105px;
	animation: animationframesthree 65s alternate infinite linear;
}
/*Floating shapes END*/

/*** USP section ***/
.USP {
	height: 100%;
	background: white;
}
.USP > .container {
	width: 100%;
}
.intro-section {
	position: relative;
}

.container > .intro-section {
	width: 70%;
	height: 100%;
}
.intro-section > .text {
	position: relative;
}

.intro-slider.col-12 > div > div {
	height: 600px;
}
/*Cropping the slider images*/
.intro-slider > .slider .swiper-slide > img {
	border-top-left-radius: 400px;
	border-top-right-radius: 400px;
}

/*** Banner ***/
.banner {
	width: 100%;
	height: 80vh;
	background-image: url(../assets/img/banners/banner.png);
	background-repeat: no-repeat;
	background-position: right;
	display: flex;
}

.banner > .text {
	margin-left: 250px;
	max-width: calc((100% / 24) * 8);
}

/*** Music ***/
.text-block-md {
	/*Fix later so its reusable*/
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 530px;
}
.content-standard {
	/*Fix later so its reusable*/
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.content-large {
	width: 100%;
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	z-index: 3;
}
.music > div > .row > div > .illustration {
	width: 100%;
	padding-right: 50px;
}
.music > div > .row > div > .illustration img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/*** Features ***/
.features {
	display: flex;
}
.features-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 30px;
}

.feature-block:hover {
	color: #ef6d9f;
	transition: all 0.3s linear;
	cursor: default;
}

.features-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.features p {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 0;
	line-height: 1.5em;
}

.feature-icon {
	background-color: white;
	width: 80px;
	height: 80px;
	box-shadow: 1px 4px 20px rgb(26 26 26 / 9%);
	border-top-right-radius: 25px;
	font-size: 1.5rem;
}

/*** Products ***/

.products h4:before {
	/*Pink line over heading*/
	left: 48%; /*Center ?*/
}
.products-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 30px;
}
.product-card .title:hover {
	color: #ef6d9f;
	cursor: pointer;
}
.product-info .price {
	font-size: 1.1rem;
	font-weight: 600;
	color: black;
}
.star-rating {
	font-size: 10.5px;
}
.product-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.product-image img:hover {
	transition: all 0.3s linear;
}
.products > div > div.products-container > div > form > .btn {
	margin: 15px 0px 0px;
}

/*** Reviews ***/
.reviews h4:before {
	left: 48%;
}

.review-image {
	width: 380px;
	padding: 20px;
}

.review-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.review small,
.review p {
	font-size: 1rem;
}

.review .star-rating {
	font-size: 1rem;
}

/*** Contact ***/

.contact h4:before {
	/*Pink line over heading*/
	left: 48%;
}
/*** Forms ***/
input,
textarea,
optgroup {
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0;
	font-family: "Lato", sans-serif;
	font-size: 1rem;
}

input:focus,
textarea:focus {
	outline-color: #ff9cb2;
}
/* Contact form */
.contact-form {
	width: 80%;
	transition: all 0.3s linear;
}

.contact-form .name,
.contact-form .email,
.contact-form .message {
	display: flex;
	box-shadow: 1px 6px 10px 3px rgb(26 26 26 / 7%);
	border-top-right-radius: 25px;
	width: 80%;
	margin: 0 auto;
	min-height: 72px;
	position: relative;
	margin-top: 20px;
}
.contact-form input,
.contact-form textarea {
	display: inline-block;
	border: none;
	padding: 20px;
	border-top-right-radius: 25px;
	width: 100%;
	text-align: left;
}

/*** Login/Register page ***/
.lr-wrapper {
	height: 100vh;
	padding: 18px 80px 50px;
	background-image: url(../assets/img/illustrations/pink_cart.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 900px;
}
.lr-container > div.heading > h2 {
	font-size: 2.3rem;
}
.lr-container > .google > p {
	font-size: 1.1rem;
}

.lr-container {
	margin-top: 150px;
	text-align: center;
}

.lr-form {
	width: 100%;
	max-width: 550px;
}
.lr-form .line {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #9e999958;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.lr-form .line,
.lr-form .or {
	/* Hides the line behind the OR text with a bg-color */
	background: #fff;
	padding: 0 10px;
	font-size: 1rem;
}

.form input,
.form textarea {
	display: inline-block;
	border: none;
	padding: 13px;
	width: 100%;
	text-align: center;
	background-color: #e3cdd958;
	border-radius: 10px;
}
.lr-container > .lr-form > form > div > button {
	border-radius: 10px;
}

.username i {
	left: 4%;
	top: 35%;
	font-size: 1rem;
}

.password i {
	left: 4%;
	top: 12%;
	font-size: 1rem;
}

.confirm-password i {
	left: 3.5%;
	top: 12%;
	font-size: 1rem;
}

#invalid-credentials {
	color: #ff4646;
	text-align: center;
	font-size: 1rem;
	padding-top: 8px;
}

.lr-small-wrapper {
	padding: 50px 80px;
	background: rgb(239, 109, 159);
	background: -moz-linear-gradient(
		34deg,
		rgba(239, 109, 159, 1) 0%,
		rgba(255, 152, 117, 1) 100%
	);
	background: -webkit-linear-gradient(
		34deg,
		rgba(239, 109, 159, 1) 0%,
		rgba(255, 152, 117, 1) 100%
	);
	background: linear-gradient(
		34deg,
		rgba(239, 109, 159, 1) 0%,
		rgba(255, 152, 117, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef6d9f",endColorstr="#ff9875",GradientType=1);
	box-shadow: inset 0 0 30px #5656562b;
	overflow: hidden;
}
.lr-small-container {
	height: 100%;
	position: relative;
	z-index: 3;
}
.lr-small-container > .heading > h2 {
	font-size: 2.3rem;
}

#success-msg {
	color: #ff9875;
	text-align: center;
	font-size: 1rem;
	padding-top: 8px;
}
#success-msg a {
	color: #ff9875;
}
/*** Sidebar ***/
.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 78px;
	background: white;
	padding: 6px 14px;
	z-index: 99;
	transition: all 0.5s ease;
}
.sidebar.open {
	width: 250px;
}
.sidebar .logo-details {
	height: 60px;
	display: flex;
	align-items: center;
	position: relative;
}
.sidebar .logo-details .icon {
	opacity: 0;
	transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	opacity: 0;
	transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
	opacity: 1;
}
.sidebar .logo-details #btn {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	font-size: 22px;
	transition: all 0.4s ease;
	font-size: 23px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
	text-align: right;
}
.sidebar i {
	color: #ff9cb2;
	height: 60px;
	min-width: 50px;
	font-size: 28px;
	text-align: center;
	line-height: 60px;
}
.sidebar .sidebar-list {
	margin-top: 20px;
	height: 100%;
}
.sidebar li {
	position: relative;
	margin: 8px 0;
	list-style: none;
}
.sidebar li .tooltip {
	position: absolute;
	top: -20px;
	left: calc(100% + 15px);
	z-index: 3;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: 400;
	opacity: 0;
	white-space: nowrap;
	pointer-events: none;
	transition: 0s;
	color: #ff9cb2;
}
.sidebar li:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
	top: 50%;
	transform: translateY(-50%);
}
.sidebar.open li .tooltip {
	display: none;
}

.sidebar li .sidebar-list-item {
	display: flex;
	height: 100%;
	width: 100%;
	border-radius: 12px;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
	background: #f7f3f6;
}
.sidebar li a:hover {
	background: #e8e4e7;
}
.sidebar li a .sb-links-name {
	color: #1a1a1a;
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
}
.sidebar.open li a .sb-links-name {
	opacity: 1;
	pointer-events: auto;
}
.sidebar li a:hover .sb-links-name,
.sidebar li a:hover i {
	transition: all 0.5s ease;
	color: #ef6d9f;
}
.sidebar li i {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	border-radius: 12px;
}

.sidebar li.profile {
	position: fixed;
	height: 60px;
	width: 78px;
	left: 0;
	bottom: -8px;
	padding: 10px 14px;
	background: #f7f3f6;
	transition: all 0.5s ease;
	overflow: hidden;
}
.sidebar.open li.profile {
	width: 250px;
	display: flex;
}
.sidebar li .profile-details {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
.profile-image {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	margin-right: 10px;
	background-color: #ff9cb2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
}
.sidebar li.profile .name {
	font-size: 15px;
	font-weight: 400;
	color: #1a1a1a;
	white-space: nowrap;
	text-transform: capitalize;
}

.sidebar .profile #log_out {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background: #f7f3f6;
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-radius: 0px;
	transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
	width: 50px;
	background: none;
}

/*** Admin Dashboard ***/
.admin-top-container {
	height: 120px;
	background-color: white;
	border-radius: 10px;
	padding: 30px 100px;
	box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.admin-dashboard {
	position: relative;
	background: #f5f5fc;
	min-height: 100vh;
	top: 0;
	left: 78px;
	width: calc(100% - 78px);
	transition: all 0.5s ease;
	z-index: 2;
	overflow-y: hidden;
}
.sidebar.open ~ .admin-dashboard {
	left: 250px;
	width: calc(100% - 250px);
}
.admin-dashboard .heading {
	display: inline-block;
	color: #1a1a1a;
	font-size: 1.56rem;
	font-weight: 700;
	margin-bottom: 50px;
}
.admin-container {
	width: 80vw;
	max-width: 1800px;
	height: 90vh;
}
/* welcome banner */
.welcome-banner {
	position: relative;
	min-height: 200px;
	width: 100%;
	background-color: #ff9cb2;
	border-radius: 10px;
	padding: 30px 40px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 30px;
}
.welcome-banner h2 {
	text-transform: capitalize;
}
.welcome-text p {
	font-size: 1.1rem;
	margin-bottom: 15px;
}

.welcome-image {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 130%;
	margin-right: 30px;
	transition: all 0.5s ease;
}
.welcome-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Progress */
.progress-overview {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 20px;
	column-gap: 25px;
	width: 100%;
}
.progress {
	width: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
}
.progress-total {
	color: black;
	cursor: pointer;
}
.progress-total:hover {
	color: #ff9cb2;
}

.progress-count {
	font-size: 3rem;
	font-weight: bold;
	padding: 0 30px;
	color: #ff9cb2;
}

/* Calendar */
.calendar-wrapper {
	border-radius: 10px;
	max-width: 600px;
	height: 350px;
	background-color: #fff;
	padding: 50px 20px;
}
.calendar-date {
	position: absolute;
	top: 10px;
}
.calendar {
	height: 100%;
	background-color: #fff;
	border: none;
	box-shadow: none;
}
.calendar td {
	padding: 0;
}
.calendar td,
.calendar th {
	border-radius: 10px;
	text-align: center;
}
#today {
	border: 2px solid #ef6d9f;
	background-color: #fe9aae;
	border-radius: 50px;
	width: 10px;
	color: white;
}

.orders-overview {
	width: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
}

.orders-wrapper {
	width: 100%;
}
.orders-headings {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 20px;
	padding: 10px 0;
	border-top: 1px solid rgb(235, 235, 235);
	border-bottom: 1px solid rgb(235, 235, 235);
	justify-items: center;
}
.orders-headings p {
	font-weight: bold;
	font-size: 1.1rem;
	color: #1a1a1a;
}

.orders-bottom {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 20px;
	padding: 20px 0;
	justify-items: center;
}

.orders-overview > div > button,
.users-overview > div > button {
	padding: 10px 30px;
	cursor: pointer;
	border-radius: 12px;
}

.users-overview {
	padding: 20px;
	width: 100%;
	max-width: 600px;
	height: 100%;
	max-height: 450px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.02);
}

.profile-user {
	border-radius: 10px;
	background-color: #f9f9fb;
	padding: 10px;
	margin: 3px;
}

.profile-user:hover {
	background-color: #f3eef2;
}
.admin-dashboard > div > div > div > div > div > div.profile-image {
	height: 50px;
	width: 50px;
}

.admin-top-container-create {
	height: 120px;
	max-height: 300px;

	background-color: white;
	border-radius: 10px;
	padding: 30px 100px;
	box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 1px 1px 30px 6px rgba(0, 0, 0, 0.02);
}

.create {
	width: 100%;
}

/*** Products ***/
.create-form {
	display: flex;
}
.create-form input,
.create-form textarea,
.create-form select {
	padding: 10px;
	border-radius: 12px;
	border: none;
	height: 60px;
	margin: 0 10px;
	box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.03);
	width: 100%;
}
select {
	padding: 10px;
	border-radius: 12px;
	border: none;
	height: 60px;
	margin: 0 10px;
	box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.03);
}
.create-form input[type="submit"] {
	color: white;
	background-color: #ef6d9f;
	transition: 0.5s;
	border: none;
	text-decoration: none;
	font-size: 1.1rem;
	display: inline-flex;
	justify-content: center;
	max-width: 100%;
	cursor: pointer;
	white-space: break-spaces;
}
.create-form input[type="submit"]:hover {
	background-color: #ff9875;
}
.create-form input[type="file"] {
	padding-top: 19px;
}

/*** Orders ***/
.tracking {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tracking p {
	font-size: 1rem;
	color: #9e9999;
	white-space: nowrap;
}
.tracking h1 {
	margin-bottom: 10px;
}

.admin-dashboard .orders,
.admin-dashboard .products,
.admin-dashboard .users {
	overflow-x: auto;
	width: 100%;
	height: 650px;
}

/*** Tables ***/
table {
	width: 100%;
	border: 3px solid #f9f9fb;
	border-radius: 10px !important;
	background: #f9f9fb;
	box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.02);
	text-align: left;
}

thead {
	border-collapse: collapse;
}

thead th {
	position: sticky;
	top: 0;
	background: #f9f9fb;
	white-space: nowrap;
}

th {
	padding: 20px 10px;
	color: #1a1a1a;
}

td {
	padding: 15px;
}

tbody tr:nth-child(even) {
	background: #f9f9fb;
}
tbody tr:nth-child(odd) {
	background: white;
}

.th-status,
.td-status,
.td-delete,
.th-delete,
.td-save,
.th-save,
.th-edit,
.td-edit {
	text-align: center;
}

.th-edit-role,
.td-status {
	width: 30px;
}

.td-status .red {
	color: #fe9aae;
	font-weight: bold;
	background-color: #ffdde4;
	border-radius: 50px;
	padding: 10px 15px;
}

.td-edit,
.td-delete,
.td-save {
	font-size: 1.5rem;
}

.td-delete i:hover {
	color: #e7222f;
}
.td-edit i:hover,
.td-save i:hover {
	color: #fe9aae;
}

.td-desc {
	overflow: hidden;
	overflow-y: auto;
	height: 60px;
	padding: 10px 0;
	width: 100%;
}

div.products > table > tbody > tr > td > input[type="text"] {
	min-width: 180px;
}
div.products > table > tbody > tr > td > img {
	width: 50px;
}
div.products > table > tbody > tr > td > div > input[type="number"] {
	width: 50px;
}

/*** Cart ***/
.shopping-cart {
	height: 100vh;
}
.shopping-cart > form > div > div.col-8 {
	background-color: #f8f8f8;
	color: #3b3b3b;
}
.payment {
	overflow: auto;
	padding: 80px;
}
.payment-form input {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
}
.discount-code {
	width: 100%;
}
.dcode {
	width: 75%;
	padding: 8px 18px;
	border-radius: 5px;
	border: 1px solid rgb(161, 161, 161);
	background: none;
	color: rgb(161, 161, 161);
}
.discount-btn {
	width: 23%;
	padding: 9px;
	border-radius: 5px;
	border: none;
	background: #505050;
	color: #fff;
	font-size: 1rem;
	margin-left: 2px;
	transition: 0.5s;
}
.discount-btn:hover {
	background: #ef6d9f;
	color: #fff;
}
.shipping > p > b,
.discount > p > b {
	font-size: 1rem;
}
#pay {
	border-radius: 5px;
}
.bx-question-mark {
	border-radius: 10px;
	background: pink;
	padding: 1px 1.5px;
}

/* Stripe payment styling */
.example.example1 fieldset {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	border: 1px solid #505050;
	border-radius: 5px;
}

.example.example1 .row {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #505050;
	border-radius: 5px;
}
.noborder-row {
	border: none !important;
}

.example.example1 label {
	width: 15%;
	min-width: 70px;
	padding: 11px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.example.example1 input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border-style: none;
}

.example.example1 input:-webkit-autofill {
	-webkit-text-fill-color: #1a1a1a;
}

/* Card input */
.example.example1 .StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

.example.example1 input {
	width: 100%;
	color: #1a1a1a;
	background-color: transparent;
}

/* Cart overview */
.shopping-cart > form > div > div.col-16 {
	background-color: white;
	height: 100vh;
	background-image: url(../assets/img/illustrations/pink_cart.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 900px;
}

.go-back-btn {
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px;
}
.go-back-btn a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.wrapper {
	padding: 0 50px;
}
.heading {
	margin-bottom: 40px;
}
.cart-items-container {
	border-radius: 10px;
	overflow: hidden;
	overflow-y: auto;
	height: 600px;
	margin-bottom: 50px;
}

.cart-item {
	height: 100px;
	background-color: #f7f7f7;
	border-radius: 10px;
	padding: 10px;
}

.cart-item .image {
	height: 100px;
	padding: 10px 5px;
}

.cart-item .image img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/*** Edit product page ***/
.admin-edit-product-container {
	width: 90%;
	max-width: 1200px;
	height: 80vh;
	background: white;
	border-radius: 10px;
	padding: 20px;
}
.admin-dashboard > div > div > form > div > div {
	padding: 20px;
}
.edit-product-form {
	height: 100%;
}

.edit-product-form {
	display: flex;
}
.edit-product-form label {
	padding: 10px 0;
}
.form-item > label > h3 {
	padding: 10px 0;
}
.edit-product-form input,
.edit-product-form textarea {
	padding: 10px;
	border-radius: 12px;
	border: none;
	width: 100%;
	box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.03);
}
.edit-product-form textarea {
	height: 100%;
	min-height: 300px;
}
.form-item {
	margin-bottom: 10px;
}
.edit-product-form button[type="submit"] {
	color: white;
	background-color: #ef6d9f;
	transition: 0.5s;
	border: none;
	text-decoration: none;
	font-size: 1.1rem;
	padding: 15px 30px;
	display: inline-block;
	cursor: pointer;
	border-radius: 12px;
}
.admin-dashboard > div > div > form > div > div.col-12 > .file {
	width: 100%;
	margin-top: 20px;
}
.edit-product-form input[type="file"] {
	display: none;
}
label.upload-photo.btn.full-btn {
	padding: 15px;
	cursor: pointer;
	border-radius: 12px;
}
label.upload-photo.btn.full-btn > i {
	font-size: 1.5rem;
}

.holder {
	height: 400px;
	width: 100%;
	box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: white;
}
.holder img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: center;
	border-radius: 10px;
	z-index: 2;
}
i.bx.bx-image {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	font-size: 6rem;
	color: #666;
}

.add-product-info {
	overflow: hidden;
	overflow-y: auto;
	height: 650px;
}

/*** Footer ***/
footer {
	margin-top: auto;
	height: 40vh;
	width: 100%;
	background-image: url(../assets/img/banners/footer_banner.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.footer-logo {
	width: 200px;
}
.footer-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.sm-icons > i {
	padding: 0 5px;
	font-size: 1.1rem;
}
.sm-icons > i:hover {
	color: #ef6d9f;
}

/*** Media queries ***/
/* 4K */
@media only screen and (min-width: 2560px) {
	.hero-container {
		top: -140px;
		left: 135px;
	}
}
/* Laptop L */
@media only screen and (max-width: 1440px) {
	.welcome-image {
		margin-right: 0;
	}
	.calendar th {
		padding: 0;
	}
	.banner {
		background-position: center center;
	}
}
/* Laptop M */
@media only screen and (max-width: 1220px) {
	.hero-text {
		transform: translate(-30%, -40%);
	}
	.banner > .text {
		max-width: calc((100% / 24) * 10);
	}
	.welcome-image {
		height: 115%;
		margin-right: 0;
	}
}
/* Laptop */
@media only screen and (max-width: 1024px) {
	.hide-laptop {
		display: none;
	}
	.col-24-laptop {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.hero-text {
		transform: translate(-30%, -40%);
	}
	.btn {
		margin: 40px 0px 0px;
		padding: 10px 25px;
	}
	.banner > .text {
		margin: 0 auto;
		text-align: center;
		max-width: calc((100% / 24) * 15);
		background-color: #1a1a1a81;
		padding: 40px 50px 50px 50px;
		color: white;
	}
	.banner.display-flex.direction-column.justify-center.align-items-start
		> div
		> p {
		color: white;
	}
	.laptop-pink {
		color: #ff9cb2;
	}
	.features-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.features {
		justify-content: center;
	}
	.feature-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.welcome-image {
		height: 110%;
		margin-right: 0;
	}
	.admin-top-container {
		padding: 30px 10px;
	}
	.admin-top-container-create {
		padding: 20px 10px;
		height: 100%;
		max-height: 380px;
	}
	.create-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 10px;
	}
	.create-form input,
	.create-form textarea,
	.create-form select {
		margin: 5px;
	}
	td {
		padding: 15px 0;
	}
	.cart-wrapper {
		flex-direction: column;
	}
	.shopping-cart > form > div > div.col-16 {
		height: auto;
		padding-top: 200px;
		width: auto;
	}
	.shopping-cart > form > div > div.col-8 {
		width: auto;
	}
}
/* Laptop S*/
@media only screen and (max-width: 810px) {
	.logo {
		padding-left: 40px;
	}
	.icons {
		padding-right: 40px;
	}
	.products-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
/* Tablet */
@media only screen and (max-width: 768px) {
	.hide-tablet {
		display: none;
	}
	.show-tablet {
		display: flex;
	}
	.col-12-tablet {
		width: calc((100% / 24) * 12);
	}
	.col-24-tablet {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.logo {
		padding-left: 20px;
	}
	.icons {
		padding-right: 50px;
	}
	.hero-container {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		align-items: center;

		transform: translate(-50%, -50%);
		background-color: #1a1a1a81;
		width: 70vw;
		padding: 40px 50px 50px 50px;
	}
	.hero-text p,
	.headings {
		text-align: center;
	}
	.logo img {
		width: 90%;
	}
	body > section.p-standard.USP > div > div:nth-child(2) {
		flex-direction: column-reverse;
	}
	.container > .intro-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
	.intro-section > .text {
		text-align: center;
		padding: 0;
		padding-bottom: 30px;
	}

	h4:before {
		left: 50%;
		margin-left: -15px;
	}
	.banner > .text {
		margin: 0 auto;
		text-align: center;
		max-width: calc((100% / 24) * 20);
	}
	.music > div > .row > div > .illustration {
		width: auto;
		padding: 0;
	}
	.features-text {
		padding-bottom: 20px;
	}
	.features-container {
		grid-template-columns: repeat(2, 1fr);
		padding-top: 50px;
	}
	.features {
		justify-content: center;
	}
	.feature-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.review {
		flex-direction: column;
		text-align: center;
	}
	.review-image {
		margin-bottom: 20px;
	}

	.review .star-rating {
		display: inline-block;
		padding-bottom: 50px;
	}
	.contact-form {
		width: 90%;
	}
	td {
		padding: 12px 0;
	}
	.admin-dashboard > div > div.users > table > tbody > tr > td > select {
		margin: 0;
	}
	.lr-container > div.heading > h2 {
		font-size: 1.6rem;
	}

	.login > .container {
		flex-direction: column;
	}
	.lr-wrapper {
		height: auto;
		width: auto;
	}
	.lr-small-wrapper {
		width: auto;
	}
}
/* Small tablet */
@media only screen and (max-width: 555px) {
	.hero-container {
		transform: translate(-50%, -45%);
		margin-top: 10px;
	}
	.hero-text {
		padding: 30px;
	}

	footer {
		background: none;
	}
	.welcome-banner {
		grid-template-columns: repeat(1, 1fr);
	}
	.welcome-image {
		display: none;
	}
	.progress-overview {
		grid-template-columns: repeat(1, 1fr);
	}
	.admin-dashboard {
		overflow-y: auto;
	}
	.dcode {
		width: 70%;
	}
	.discount-btn {
		width: 27%;
	}
}

/* Large phone */
@media only screen and (max-width: 425px) {
	.hide-lg-phone {
		display: none;
	}
	.show-lg-phone {
		display: flex;
	}
	.col-24-lg-phone {
		width: 100%;
		padding: 0;
		justify-content: center;
	}
	.logo img {
		width: 80%;
	}
	.icons {
		padding-right: 60px;
	}
	.hero-container {
		transform: translate(-50%, -50%);
		margin-top: 0px;
	}
	.review-image {
		width: 200px;
	}
	.products-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.contact-form {
		width: 100%;
	}
	.col-16 > div.wrapper > div.heading {
		flex-direction: column;
	}
	.col-16 > div.wrapper > div.heading h2 {
		padding-bottom: 8px;
	}
	.sidebar .bx-menu {
		display: none;
	}

	.sidebar li .tooltip {
		display: none;
	}
	footer .content-large {
		flex-direction: column;
	}
	footer {
		height: 100%;
	}
}

/* Keyframes */
@keyframes animationframesone {
	0% {
		transform: translate(0px, 0px) rotate(0deg);
	}

	20% {
		transform: translate(73px, -1px) rotate(36deg);
	}

	40% {
		transform: translate(141px, 72px) rotate(72deg);
	}

	60% {
		transform: translate(83px, 122px) rotate(108deg);
	}

	80% {
		transform: translate(-40px, 72px) rotate(144deg);
	}

	100% {
		transform: translate(0px, 0px) rotate(0deg);
	}
}

@keyframes animationframestwo {
	0% {
		transform: translate(10px, 0px) rotate(0deg) scale(1);
	}

	20% {
		transform: translate(-40px, 70px) rotate(20deg) scale(0.9);
	}

	40% {
		transform: translate(90px, 115px) rotate(65deg) scale(1);
	}

	60% {
		transform: translate(-50px, 90px) rotate(105deg) scale(1.2);
	}

	80% {
		transform: translate(75px, -35px) rotate(170deg) scale(1.1);
	}

	100% {
		transform: translate(10px, 0px) rotate(0deg) scale(1);
	}
}

@keyframes animationframesthree {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1.2);
	}

	20% {
		transform: translate(-68px, -100px) rotate(70deg) scale(0.5);
	}

	40% {
		transform: translate(115px, 55px) rotate(120deg) scale(1);
	}

	60% {
		transform: translate(35px, 140px) rotate(155deg) scale(1.2);
	}

	80% {
		transform: translate(-35px, 90px) rotate(180deg) scale(0.5);
	}

	100% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
}
