/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Overwrite SwiperJS styles */
:root {
	--swiper-theme-color: #ef6d9f !important;
}

/* Typography styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Varela Round", sans-serif;
	cursor: default;
}
h4 {
	position: relative;
	padding-top: 35px;
	margin-bottom: 25px;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 1px;
}

h4:before {
	content: "";
	background: #ef6d9f;
	border-radius: 5px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 5px;
}
h5 {
	font-size: 24px;
	font-weight: 500;
}
h6 {
	font-size: 20px;
}
p {
	font-size: 20px;
	cursor: default;
	line-height: 1.8;
}

p,
span,
label,
small,
a {
	font-family: "Lato", sans-serif;
}
a {
	text-decoration: none;
}

/* Button styling */
.btn {
	text-decoration: none;
	font-size: 1.1rem;
	margin: 45px 0px 0px;
	padding: 15px 30px;
	display: inline-block;
}
.full-btn {
	color: white;
	background-color: #ef6d9f;
	transition: 0.5s;
	border: none;
}
.full-btn:hover {
	background-color: #ff9875;
}

.corner-btn {
	background: none;
	border: 3px solid #ef6d9f;
	padding: 15px 40px;
	letter-spacing: 3px;
	color: black;
	position: relative;
	overflow: visible;
	margin-top: 40px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.corner-btn:after,
.corner-btn:before {
	content: "";
	background: white;
	position: absolute;
	z-index: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.corner-btn:before {
	width: calc(100% - 1.2rem);
	height: calc(94% + 0.7rem);
	top: -3px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.corner-btn:after {
	height: calc(100% - 1.2rem);
	width: calc(98% + 0.7rem);
	left: -3px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.corner-btn span {
	position: relative;
	z-index: 2;
	font-weight: 600;
}
.corner-btn:hover {
	background: none;
}
.corner-btn:hover:before {
	width: 0;
}
.corner-btn:hover:after {
	height: 0;
}

.corner-btn:hover {
	border-color: #ef6d9f;
	color: #ef6d9f;
}

/* Flex */
.display-flex {
	display: flex;
}
.direction-column {
	flex-direction: column;
}
.direction-row {
	flex-direction: row;
}
.align-items-center {
	align-items: center;
}
.align-items-start {
	align-items: flex-start;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: flex-end;
}
.justify-evenly {
	justify-content: space-evenly;
}
.justify-between {
	justify-content: space-between;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	/* min-height: 100%; */
	flex-direction: row;
}

/* Reusable classes */
.reset-btn-styling {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.image {
	transition: all 0.3s linear;
}

.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}

.show-tablet {
	display: none;
}
.text-underline {
	text-decoration: underline;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.m-standard {
	margin: 80px 0;
}
.p-standard {
	padding: 80px 0;
}

/* Columns */
.col-1 {
	width: calc((100% / 24) * 1);
}

.col-2 {
	width: calc((100% / 24) * 2);
}

.col-3 {
	width: calc((100% / 24) * 3);
}

.col-4 {
	width: calc((100% / 24) * 4);
}

.col-5 {
	width: calc((100% / 24) * 5);
}

.col-6 {
	width: calc((100% / 24) * 6);
}

.col-7 {
	width: calc((100% / 24) * 7);
}

.col-8 {
	width: calc((100% / 24) * 8);
}

.col-9 {
	width: calc((100% / 24) * 9);
}

.col-10 {
	width: calc((100% / 24) * 10);
}

.col-11 {
	width: calc((100% / 24) * 11);
}

.col-12 {
	width: calc((100% / 24) * 12);
}

.col-13 {
	width: calc((100% / 24) * 13);
}

.col-14 {
	width: calc((100% / 24) * 14);
}

.col-15 {
	width: calc((100% / 24) * 15);
}

.col-16 {
	width: calc((100% / 24) * 16);
}

.col-17 {
	width: calc((100% / 24) * 17);
}

.col-18 {
	width: calc((100% / 24) * 18);
}

.col-19 {
	width: calc((100% / 24) * 19);
}

.col-20 {
	width: calc((100% / 24) * 20);
}

.col-21 {
	width: calc((100% / 24) * 21);
}

.col-22 {
	width: calc((100% / 24) * 22);
}

.col-23 {
	width: calc((100% / 24) * 23);
}

.col-24 {
	width: 100%;
}

/* Margin and padding  */
/*
z = 0
1 = 10
2 = 15
3 = 20
4 = 25
5 = 35
6 = 40
*/
/*removes all margins*/
.m-z {
	margin: 0 !important;
}
/*removes all paddings*/
.p-z {
	padding: 0 !important;
}
/*padding vertical*/
.p-v-1 {
	padding: 10px 0;
}
.p-v-2 {
	padding: 15px 0;
}
.p-v-3 {
	padding: 20px 0;
}
.p-v-4 {
	padding: 25px 0;
}
.p-v-5 {
	padding: 35px 0;
}
/*padding horizontal*/
.p-h-1 {
	padding: 0 10px;
}
.p-h-2 {
	padding: 0 15px;
}
.p-h-3 {
	padding: 0 20px;
}
.p-h-4 {
	padding: 0 25px;
}
.p-h-5 {
	padding: 0 35px;
}

/*Top, left, right, bottom padding classes*/
/* Margin */
.m-b-1 {
	margin-bottom: 10px;
}
.m-b-2 {
	margin-bottom: 15px;
}
.m-b-4 {
	margin-bottom: 25px;
}
.m-b-6 {
	margin-bottom: 40px;
}
/* Padding */
.p-l-1 {
	padding-left: 10px;
}
.p-l-4 {
	padding-left: 25px;
}
.p-r-4 {
	padding-right: 25px;
}
.p-t-1 {
	padding-top: 10px;
}
.p-t-2 {
	padding-top: 15px;
}
.p-t-5 {
	padding-top: 35px;
}

/* Extra */
.p-b-80 {
	padding-bottom: 80px;
}
.p-t-120 {
	padding-top: 120px;
}

/* Colors */
.color-pink {
	color: #ef6d9f;
}
.color-light-pink {
	color: #ff9cb2;
}
.color-white {
	color: #fff;
}
.color-black {
	color: #1a1a1a;
}
.color-grey {
	color: #9e9999;
}

body {
	position: relative;
	background-color: white;
	min-height: 100vh;
	overflow-x: hidden !important;
}

/*** Navigation ***/
.navigation {
	position: absolute;
	top: 0;
	min-height: 70px;
	z-index: 11;
	transform: translateY(0);
	transition: all 0.6s ease-in-out;
}
nav p {
	font-size: 1rem;
}
.show {
	position: fixed;
	background-color: rgba(26, 26, 26, 0.9);
}
.logo {
	padding-left: 100px;
	padding-bottom: 15px;
}

.icons {
	padding-right: 100px;
}

.icon {
	padding: 15px;
	font-size: 1.3em;
}
.cart {
	position: relative;
}
.cart a {
	text-decoration: none;
}

.basket-circle {
	position: absolute;
	top: 0;
	border: 2px solid white;
	font-size: 0.9em;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-block;
	line-height: 22px;
	width: 25px;
	text-align: center;
}

/* Hero slider style  */
.hero {
	position: relative;
	/* min-height: 100vh; */
}

.swiper {
	width: 100%;
	height: 100%;
	cursor: grab;
}

.swiper-slide {
	overflow: hidden;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.swiper-button-next {
	background-color: #ef6d9f;
	padding: 20px;
	color: white !important;
}
.swiper-button-prev {
	background-color: #ef6d9f;
	padding: 20px;
	color: white !important;
}
.swiper-button-prev:after {
	font-size: 1em !important;
}
.swiper-button-next:after {
	font-size: 1em !important;
}

.hero-container {
	position: absolute;
	min-width: 650px;
	height: 100%;
	padding: 20px;
	top: 0;
	left: 0;
}

.hero-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-20%, -50%);
}
.headings {
	min-width: 700px;
}

/* Find Best */
.headings h3 {
	font-size: 4.427vw;
	white-space: nowrap;
}
/* Matley */
.headings h1 {
	font-size: 6.042vw;
	display: inline;
}
/* Sound */
.headings h2 {
	font-size: 5.729vw;
	line-height: 1.6;
	display: inline;
}

.hero-text p {
	width: 50vw;
	font-size: 1em;
}
/*Floating shapes*/
.circle-shape {
	border-radius: 50%;
}
.rectangle-shape {
	border-radius: 3px;
}
.circle-shape,
.rectangle-shape {
	content: "";
	border: 4px solid;
	border-bottom-color: #ef6d9f;
	border-right-color: #ef6d9f;
	border-top-color: #ff9cb2;
	border-left-color: #ff9cb2;
	position: absolute;
	left: 0;
	top: 40%;
	margin: auto;
}
.rectangle-shape.small {
	left: 10%;
	bottom: 50%;
}
.circle-shape.large {
	left: 15%;
	right: 0;
	bottom: 0;
	opacity: 0.5;
}

.circle-shape.large,
.rectangle-shape.small {
	width: 35px;
	height: 35px;
	animation: animationframesthree 35s alternate infinite linear;
}

.rectangle-shape.very-small,
.rectangle-shape.medium,
.rectangle-shape.large {
	display: block;
}
.rectangle-shape.very-small {
	left: 50%;
}
.rectangle-shape.very-small {
	border-width: 3px;
	width: 15px;
	height: 15px;
	animation: animationframestwo 30s alternate infinite linear;
}
.rectangle-shape.medium {
	left: auto;
	right: 10%;
	top: 10%;
	opacity: 0.5;
}
.rectangle-shape.medium {
	width: 30px;
	height: 30px;
	animation: animationframestwo 35s alternate infinite linear;
}

.rectangle-shape.large {
	top: auto;
	left: 35%;
	bottom: 10%;
}
.rectangle-shape.large {
	width: 40px;
	height: 40px;
	animation: animationframesthree 35s alternate infinite linear;
}
/*Floating shapes END*/

/*** USP section ***/
.USP {
	height: 100%;
	background: white;
}
.USP > .container {
	width: 100%;
}
.intro-section {
	position: relative;
}

.container > .intro-section {
	width: 70%;
	height: 100%;
}
.intro-section > .text {
	position: relative;
}

.intro-slider.col-12 > div > div {
	height: 600px;
}
/*Cropping the slider images*/
.intro-slider > .slider .swiper-slide > img {
	border-top-left-radius: 400px;
	border-top-right-radius: 400px;
}

/*** Banner ***/
.banner {
	width: 100%;
	height: 80vh;
	background-image: url(../assets/img/banners/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
}

.banner > .text {
	margin-left: 250px;
	max-width: calc((100% / 24) * 8);
}

/*** Music ***/
.text-block-md {
	/*Fix later so its reusable*/
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 530px;
}
.content-standard {
	/*Fix later so its reusable*/
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
.content-large {
	width: 100%;
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	z-index: 3;
}
.music > div > .row > div > .illustration {
	width: 100%;
	padding-right: 50px;
}
.music > div > .row > div > .illustration img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/*** Features ***/
.features {
	display: flex;
}
.features-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 30px;
}

.feature-block:hover {
	color: #ef6d9f;
	transition: all 0.3s linear;
	cursor: default;
}

.features-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.features p {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 0;
	line-height: 1.5em;
}

.feature-icon {
	background-color: white;
	width: 80px;
	height: 80px;
	box-shadow: 1px 4px 20px rgb(26 26 26 / 9%);
	border-top-right-radius: 25px;
	font-size: 1.5rem;
}

/*** Products ***/

.products h4:before {
	/*Pink line over heading*/
	left: 48%; /*Center ?*/
}
.products-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 30px;
}
.product-card .title:hover {
	color: #ef6d9f;
	cursor: pointer;
}
.product-info .price {
	font-size: 1.1rem;
	font-weight: 600;
	color: black;
}
.star-rating {
	font-size: 10.5px;
}
.product-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.product-image img:hover {
	transition: all 0.3s linear;
}
.products > div > div.products-container > div > form > .btn {
	margin: 15px 0px 0px;
}

/*** Reviews ***/
.reviews h4:before {
	left: 48%;
}

.review-image {
	width: 380px;
	padding: 20px;
}

.review-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.review small,
.review p {
	font-size: 1rem;
}

.review .star-rating {
	font-size: 1rem;
}

/*** Contact ***/

.contact h4:before {
	/*Pink line over heading*/
	left: 48%;
}
/*** Forms ***/
input,
textarea {
	text-transform: none;
	font-weight: 400;
	letter-spacing: 0;
	font-family: "Lato", sans-serif;
	font-size: 1rem;
}

input:focus,
textarea:focus {
	outline-color: #ff9cb2;
}
/* Contact form */
.contact-form {
	width: 80%;
	transition: all 0.3s linear;
}

.contact-form .name,
.contact-form .email,
.contact-form .message {
	display: flex;
	box-shadow: 1px 6px 10px 3px rgb(26 26 26 / 7%);
	border-top-right-radius: 25px;
	width: 80%;
	margin: 0 auto;
	min-height: 72px;
	position: relative;
	margin-top: 20px;
}
.contact-form input,
.contact-form textarea {
	display: inline-block;
	border: none;
	padding: 20px;
	border-top-right-radius: 25px;
	width: 100%;
	text-align: left;
}

/*** Login form ***/
.form-container {
	background-color: rgba(26, 26, 26, 0.9);
	color: white;
	position: absolute;
	top: 100%;
	right: 0;
	padding: 20px 10px;
	width: 320px;
}

.form {
	padding: 20px;
	position: relative;
}
.popup-close {
	position: absolute;
	right: 10px;
	top: -5px;
}

.form input,
.form textarea {
	display: inline-block;
	border: none;
	padding: 10px;
	width: 100%;
	text-align: center;
}

.username i {
	left: 4%;
	top: 35%;
	font-size: 1rem;
}

.password i {
	left: 4%;
	top: 12%;
	font-size: 1rem;
}

.reg-link span {
	cursor: pointer;
}
#success-msg {
	color: #ff9875;
	text-align: center;
	padding-top: 10px;
}
#invalid-credentials {
	color: #ff9875;
	text-align: center;
}

/* Footer */
footer {
	height: 40vh;
	width: 100%;
	background-image: url(../assets/img/banners/footer_banner.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.footer-logo {
	width: 200px;
}
.footer-logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.sm-icons > i {
	padding: 0 5px;
	font-size: 1.1rem;
}
.sm-icons > i:hover {
	color: #ef6d9f;
}

/*





























*/

/*** Media queries ***/

/* Laptop M */
@media only screen and (max-width: 1220px) {
	.hero-text {
		transform: translate(-30%, -40%);
	}
	.banner > .text {
		max-width: calc((100% / 24) * 10);
	}
}
/* Laptop */
@media only screen and (max-width: 1024px) {
	.hero-text {
		transform: translate(-30%, -40%);
	}
	.btn {
		margin: 40px 0px 0px;
		padding: 10px 25px;
	}
	.banner > .text {
		margin: 0 auto;
		text-align: center;
		max-width: calc((100% / 24) * 15);
		background-color: #1a1a1a81;
		padding: 40px 50px 50px 50px;
		color: white;
	}
	.banner.display-flex.direction-column.justify-center.align-items-start
		> div
		> p {
		color: white;
	}
	.laptop-pink {
		color: #ff9cb2;
	}
	.features-container {
		grid-template-columns: repeat(1, 1fr);
	}
	.features {
		justify-content: center;
	}
	.feature-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}
/* Laptop S*/
@media only screen and (max-width: 810px) {
	.logo {
		padding-left: 40px;
	}
	.icons {
		padding-right: 40px;
	}
}
/* Tablet */
@media only screen and (max-width: 768px) {
	.content-standard {
	}
	.hide-tablet {
		display: none;
	}
	.show-tablet {
		display: flex;
	}
	.col-12-tablet {
		width: calc((100% / 24) * 12);
	}
	.col-24-tablet {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.logo {
		padding-left: 20px;
	}
	.icons {
		padding-right: 50px;
	}
	.hero-container {
		height: 100%;
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.hero-text {
		display: flex;
		flex-direction: column;
		align-items: center;

		transform: translate(-50%, -50%);
		background-color: #1a1a1a81;
		width: 70vw;
		padding: 40px 50px 50px 50px;
	}
	.hero-text p,
	.headings {
		text-align: center;
	}
	.logo img {
		width: 90%;
	}
	body > section.p-standard.USP > div > div:nth-child(2) {
		flex-direction: column-reverse;
	}
	.container > .intro-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
	}
	.intro-section > .text {
		text-align: center;
		padding: 0;
		padding-bottom: 30px;
	}

	h4:before {
		left: 50%;
		margin-left: -15px;
	}
	.banner > .text {
		margin: 0 auto;
		text-align: center;
		max-width: calc((100% / 24) * 20);
	}
	.music > div > .row > div > .illustration {
		width: auto;
		padding: 0;
	}
	.features-text {
		padding-bottom: 20px;
	}
	.features-container {
		grid-template-columns: repeat(2, 1fr);
		padding-top: 50px;
	}
	.features {
		justify-content: center;
	}
	.feature-block {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.review {
		flex-direction: column;
		text-align: center;
	}
	.review-image {
		margin-bottom: 20px;
	}

	.review .star-rating {
		display: inline-block;
		padding-bottom: 50px;
	}
	.contact-form {
		width: 90%;
	}
}
/* Small tablet */
@media only screen and (max-width: 555px) {
	.hero-container {
		transform: translate(-50%, -45%);
		margin-top: 10px;
	}
	.hero-text {
		padding: 30px;
	}
	footer {
		background: none;
	}
}

/* Large phone */
@media only screen and (max-width: 425px) {
	.hide-lg-phone {
		display: none;
	}
	.show-lg-phone {
		display: flex;
	}
	.col-24-lg-phone {
		width: 100%;
		padding: 0;
		justify-content: center;
	}
	.logo img {
		width: 80%;
	}
	.hero-container {
		transform: translate(-50%, -50%);
		margin-top: 0px;
	}
	.review-image {
		width: 200px;
	}
	.contact-form {
		width: 100%;
	}
	footer .content-large {
		flex-direction: column;
	}
	footer {
		height: 100%;
	}
}

/* Keyframes */
@keyframes animationframesone {
	0% {
		transform: translate(0px, 0px) rotate(0deg);
	}

	20% {
		transform: translate(73px, -1px) rotate(36deg);
	}

	40% {
		transform: translate(141px, 72px) rotate(72deg);
	}

	60% {
		transform: translate(83px, 122px) rotate(108deg);
	}

	80% {
		transform: translate(-40px, 72px) rotate(144deg);
	}

	100% {
		transform: translate(0px, 0px) rotate(0deg);
	}
}

@keyframes animationframestwo {
	0% {
		transform: translate(10px, 0px) rotate(0deg) scale(1);
	}

	20% {
		transform: translate(-40px, 70px) rotate(20deg) scale(0.9);
	}

	40% {
		transform: translate(90px, 115px) rotate(65deg) scale(1);
	}

	60% {
		transform: translate(-50px, 90px) rotate(105deg) scale(1.2);
	}

	80% {
		transform: translate(75px, -35px) rotate(170deg) scale(1.1);
	}

	100% {
		transform: translate(10px, 0px) rotate(0deg) scale(1);
	}
}

@keyframes animationframesthree {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(1.2);
	}

	20% {
		transform: translate(-68px, -100px) rotate(70deg) scale(0.5);
	}

	40% {
		transform: translate(115px, 55px) rotate(120deg) scale(1);
	}

	60% {
		transform: translate(35px, 140px) rotate(155deg) scale(1.2);
	}

	80% {
		transform: translate(-35px, 90px) rotate(180deg) scale(0.5);
	}

	100% {
		transform: translate(0px, 0px) rotate(0deg) scale(1);
	}
}
