/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Typography styling */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Varela Round", sans-serif;
}

p,
span,
label,
small {
	font-family: "Lato", sans-serif;
}
/* Button styling */
.primary-btn {
}
.secondary-btn {
}
.slider-btn {
}
.submit-btn {
}

/* Flex */
.display-flex {
	display: flex;
}
.direction-column {
	flex-direction: column;
}
.direction-row {
	flex-direction: row;
}
.align-items-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: flex-end;
}
.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	/* min-height: 100%; */
	flex-direction: row;
}

/* Reusable classes */
.show-tablet {
	display: none;
}

/* Columns */
.col-1 {
	width: calc((100% / 24) * 1);
}

.col-2 {
	width: calc((100% / 24) * 2);
}

.col-3 {
	width: calc((100% / 24) * 3);
}

.col-4 {
	width: calc((100% / 24) * 4);
}

.col-5 {
	width: calc((100% / 24) * 5);
}

.col-6 {
	width: calc((100% / 24) * 6);
}

.col-7 {
	width: calc((100% / 24) * 7);
}

.col-8 {
	width: calc((100% / 24) * 8);
}

.col-9 {
	width: calc((100% / 24) * 9);
}

.col-10 {
	width: calc((100% / 24) * 10);
}

.col-11 {
	width: calc((100% / 24) * 11);
}

.col-12 {
	width: calc((100% / 24) * 12);
}

.col-13 {
	width: calc((100% / 24) * 13);
}

.col-14 {
	width: calc((100% / 24) * 14);
}

.col-15 {
	width: calc((100% / 24) * 15);
}

.col-16 {
	width: calc((100% / 24) * 16);
}

.col-17 {
	width: calc((100% / 24) * 17);
}

.col-18 {
	width: calc((100% / 24) * 18);
}

.col-19 {
	width: calc((100% / 24) * 19);
}

.col-20 {
	width: calc((100% / 24) * 20);
}

.col-21 {
	width: calc((100% / 24) * 21);
}

.col-22 {
	width: calc((100% / 24) * 22);
}

.col-23 {
	width: calc((100% / 24) * 23);
}

.col-24 {
	width: 100%;
}

/* Margin and padding  */
.m-z {
	margin: 0;
}
.p-z {
	padding: 0;
}
.p-v-2 {
	padding: 15px 0;
}
.p-h-2 {
	padding: 0 15px;
}

/* Colors */
.color-pink {
	color: #ef6d9f;
}
.color-light-pink {
	color: #ff9cb2;
}
.color-white {
	color: #fff;
}
.color-black {
	color: #1a1a1a;
}
.color-grey {
	color: #9e9999;
}

/* Global styles */
body {
	position: relative;
	background-color: pink;
}

/*** Navigation ***/
nav {
	position: absolute;
	top: 0;
	min-height: 70px;
	z-index: 10;
}
.logo {
	padding-left: 100px;
	padding-bottom: 15px;
}

.icons {
	padding-right: 100px;
}

.icon {
	padding: 15px;
	font-size: 1.3em;
}
.cart {
	position: relative;
}
.cart a {
	text-decoration: none;
}

.basket-circle {
	position: absolute;
	top: 0;
	border: 2px solid white;
	font-size: 0.9em;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: inline-block;
	line-height: 22px;
	width: 25px;
	text-align: center;
}

/* Hero slider style  */
.hero {
	position: relative;
	min-height: 100vh;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	overflow: hidden;
}

.hero-text-container {
	position: absolute;
	min-width: 630px;
	height: 100%;
	padding: 20px;
	top: 0;
	left: 0;
}

.hero-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/* max-width: 650px; */
}
/* Find Best */
.hero-text h3 {
	font-size: 85px;
	white-space: nowrap;
}
/* Matley */
.hero-text h1 {
	font-size: 116px;
}
/* Sound */
.hero-text h2 {
	font-size: 110px;
	line-height: 1.8;
}

.swiper-slide img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
}

/*** Media queries ***/
@media only screen and (max-width: 810px) {
	.hide-tablet {
		display: none;
	}
	.show-tablet {
		display: flex;
	}
}

/* Tablet */
@media only screen and (max-width: 768px) {
	.col-12-tablet {
		width: calc((100% / 24) * 12);
	}
	.logo {
		padding-left: 20px;
	}
	.icons {
		padding-right: 50px;
	}
}
/* Large phone */
@media only screen and (max-width: 425px) {
	.col-24-lg-phone {
		width: 100%;
		padding: 0;
		justify-content: center;
	}
}
